a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #f02323;
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
}
#header{
    height: 100vh;
}
#topbar{
    padding: 1.25rem 0;
    background-color: rgb(254, 247, 246);
    font-size: x-small;
}
@media screen and (max-width: 767px){
    #topbar {
        display: none;
    }
}
.list-group-item{
    border: none;
    background-color: transparent;
    padding: 0 0;
    margin-right: 1rem;
}

.logo{
    font-family: cursive;
    font-weight: 800;
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link{
    color: rgb(0,0,0);
    font-weight: bold;
    position: relative;
}

.navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    background-color: #ff5353;
    height: 2px;
    width: 0%;
    transition: .3s all;
  }
.navbar-nav .nav-item .nav-link:hover::before {
    cursor: pointer;
    width: 10%;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #ff5353;
}

.dropdown-item:hover{
    color: #ff5353;
}

.options a{
    text-decoration: none;
    color: black;
    margin-right: .25rem;
}

.options a:hover{
    color: #ff5353;
}

#banner{
    background: url('../assets/img/bg-1.jpg') center no-repeat;
    background-size: cover;
}

#banner .sub_heading{
    font-weight: 500;
}

#banner .heading{
    font-weight: bold;
    font-size: 3.125rem;
    margin-bottom: 2rem;
}

.btn_pink{
    color: #fff;
    background-color: #ff5353;
    border-color: #ff5353;
}

.btn_pink:hover{
    color: #ff5353;
    background-color: #f1f7f0;
    border-color: #f1f7f0;
}

#header{
    height: auto;
}

#featured{
    padding-top:3.75rem;
}
.img_style{
    position: relative;
}

.img_layer{
    position: absolute;
    bottom: 30%;
    left: 30%;
    visibility: hidden;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: opacity .4s visibility .4s;
}

.img_box:hover{
    background-color: #ff5353;
}
.img_box:hover a{
    color: #fff;
}
.img_box{
    background-color: #fff;
    border-radius: 50%;
    padding: .5rem;
    margin-right: 2rem;
    transition: .4s;
    transform: translateY(1em);
}

.img_box a{
    text-decoration: none;
    color: #000;
}
.img_style:hover .img_box{
    transform: translateY(-40%);
}
.img_style:hover .img_layer{
    visibility: visible;
    opacity: 1;
}

.caption_heading{
    font-size: .875rem;
    margin-top: 2rem;
}
.caption_heading a{
    text-decoration: none;
    color:#000;
}

.caption_heading a:hover{
    color:#ff5353;
}

.price{
    font-size: 1.125rem;
    font-weight: 600;
}

#offer{
    background-color: #eae2d8;
    margin-top: 1.5rem;
}

#popular{
    padding-top:3.75rem;
}

#popular .img_style{
    position: relative;
}

#popular .img_layer{
    position: absolute;
    bottom: 30%;
    left: 20%;
    visibility: hidden;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: opacity .4s visibility .4s;
}

#popular .img_box:hover{
    background-color: #ff5353;
}
#popular .img_box:hover a{
    color: #fff;
}
#popular .img_box{
    background-color: #fff;
    border-radius: 50%;
    padding: .5rem;
    margin-right: 2rem;
    transition: .4s;
    transform: translateY(1em);
}

#popular .img_box a{
    text-decoration: none;
    color: #000;
}
#popular .img_style:hover .img_box{
    transform: translateY(-40%);
}
#popular .img_style:hover .img_layer{
    visibility: visible;
    opacity: 1;
}

#service{
    margin-top: 2rem;
}

#service .service_item{
    padding: 1rem;
    border: 1px solid #ebeef0;
}
#service .service_item .service_icon {
    max-width: 56px;
    margin: 0 auto 27px;
}

#service .service_item .heading{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: .875rem;
}

#service .service_item .brief{
    margin-bottom: 0;
    color: #ccc;
    font-size: 14px;
}

#trending{
    padding-top:3.75rem;
}

#trending .img_style{
    position: relative;
}

#trending .img_layer{
    position: absolute;
    bottom: 30%;
    left: 20%;
    visibility: hidden;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: opacity .4s visibility .4s;
}

#trending .img_box:hover{
    background-color: #ff5353;
}
#trending .img_box:hover a{
    color: #fff;
}
#trending .img_box{
    background-color: #fff;
    border-radius: 50%;
    padding: .5rem;
    margin-right: 2rem;
    transition: .4s;
    transform: translateY(1em);
}

#trending .img_box a{
    text-decoration: none;
    color: #000;
}
#trending .img_style:hover .img_box{
    transform: translateY(-40%);
}
#trending .img_style:hover .img_layer{
    visibility: visible;
    opacity: 1;
}

#journal{
    padding-top:3.75rem;
}
#journal .post_item{
    border-bottom: 1px solid #ebeef0;
}
#journal img{
    margin-bottom: 1.5rem;
}
#journal .date{
    margin-bottom: 0;
    font-size: 14px;
    color: #ccc;
}

#journal .heading{
    font-size: 1.25rem;
    font-weight: 800;
    color: #000;
    margin-bottom: .5rem;
}
#follow{
    padding-top: 3.75rem;
}
#follow a {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  #follow a i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  #follow a:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 83, 83, 0.7);
    height: 100%;
    width: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  #follow a:hover i {
    opacity: 1;
    visibility: visible;
  }
  
  #follow a:hover::before {
    top: 0;
    opacity: 1;
    visibility: visible;
  }

  #footer{
      background-color: #e9e2d8;
      padding-top: 3.75rem;
      margin-top: 2rem;
      border-bottom: 1px solid #ff5353;
  }
  .heading{
      font-weight: 800;
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
  }
  #footer ul li a{
      margin-bottom: .375rem;
      font-size: .75rem;
      color: #888;
  }
  #footer ul li a:hover{
    color: #ff5353;
  }
  .copyright{
      margin-top: 3.75rem;
      padding: 1rem 0;
      font-size: .875rem;
      color: #888;
  }
  .copyright a{
      color: #ff5353;
  }
  .copyright a:hover{
      color: #ff5353;
  }


/*for Rating*/

  .rating{
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
